<% provide :title, t("edit_product") %>
<%= render "admin/static_pages/header" %>
<section id="main">
  <div class="container">
    <div class="row">
      <%= render "admin/static_pages/sidebar" %>
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="add-to-cart-button">
            <%= t "product" %>
          </div>
          <div class="panel-body">
            <%= render "form", product: @product, new_product: @new_product %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
